# Compiled executables with no extension (e.g. clang/gcc output)
*
!*/
!*.*

# Whitelist common files without extension
!Makefile
!makefile
!GNUmakefile
!LICENSE*
!LICENCE*
!README*
!CHANGELOG*
!AUTHORS*
!CONTRIBUTING*
!TODO*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files & folders (including Apple LLDB / dSYM)
*.dSYM/
*.dSYM
*.dsym/
*.dsym
*.su
*.idb
*.pdb
*.dwo

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Editor & IDE files
.vscode/
.idea/
*.swp
*.swo
*~
